.form__close-btn {
  position: absolute;
  content: '';
  background-image: url(../../../images/close-btn.svg);
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  transition: .5s;
  cursor: pointer;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.form__close-btn:hover {
  transition: .5s;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .form__close-btn {
    right: 0;
    top: -35px;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  }
}