.elements {
  width: 100%;
  padding-bottom: 66px;
  display: grid;
  grid-template: repeat(auto-fill, minmax(min-content, 361px)) / repeat(auto-fill, minmax(min-content, 282px));
  justify-content: center;
  gap: 20px 17px;
}

@media screen and (max-width: 819px) {
  .elements {
    padding-bottom: 50px;
  }
}