.profile__author {
  max-width: 500px;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

@media screen and (max-width: 767px) {
  .profile__author {
    margin-left: 10px;
    max-width: none;
    padding: 26px 0 0 17px;
    font-size: 27px;
    line-height: 33px;
  }
}