.form__input {
  display: flex;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 31px;
  font-size: 14px;
  line-height: 17px;
  padding-top: 42px;
  padding-left: 0;
}

.form__input:last-of-type {
  padding-top: 24px;
}

@media screen and (max-width: 767px) {
  .form__input {
    padding-top: 69px;
  }
}