.elements__like {
  margin: 0 20px 0 0;
  align-self: center;
  cursor: pointer;
  content: url(../../../images/elements/heart.svg);
  transition: .5s;
  grid-area: like;
}

.elements__like:hover {
  transition: .5s;
  opacity: 0.5;
}

.elements__like:active {
  opacity: 1;
  content: url(../../../images/elements/heart-active.svg);
}